#jitsi-meeting-container {
  overflow: hidden;
  width: 100%;
  height: 400px;
  resize: vertical;
  position: relative;
  display: none;
  min-height: 100px;
  max-height: 600px;
  background-color: rgba(0, 0, 0, 0.8);
}

#jitsi-meeting-container.open {
  height: 400px;
  transition: height 500ms linear;
}

#start-close-call-btn {
  color: green;
  border: none;
  background-color: transparent;
}

#start-close-call-btn:hover {
  filter: brightness(50%);
  transform: scale(1.1) translateY(-3px);
  transition: transform 300ms;
  will-change: transform;
  
}

